body {
font-family: Arial, sans-serif;
color: beige;
background-color: ghostwhite
}
.btn1:hover {
    background-color: goldenrod;
    transition: 7s;
}
.btn2:hover {
background-color:gold ;
transition: 5s;
}